In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.datasets import fetch_openml
mnist = fetch_openml('mnist_784', version=1)

In [3]:
print((np.array(mnist.data.loc[42]).reshape(28, 28) > 0).astype(int))

[[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 1 1 1 1 1 1 1 0 1 1 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 1 1 1 1 1 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]]

In [4]:
print(mnist.keys())

dict_keys(['data', 'target', 'frame', 'categories', 'feature_names', 'target_names', 'DESCR', 'details', 'url'])

In [79]:
print(mnist.target)
print(mnist.data)

0        5
1        0
2        4
3        1
4        9
        ..
69995    2
69996    3
69997    4
69998    5
69999    6
Name: class, Length: 70000, dtype: category
Categories (10, object): ['0', '1', '2', '3', ..., '6', '7', '8', '9']
       pixel1  pixel2  pixel3  pixel4  pixel5  pixel6  pixel7  pixel8  pixel9  \
0         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
3         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
4         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
...       ...     ...     ...     ...     ...     ...     ...     ...     ...
69995     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
69996     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
69997     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
69998     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
69999     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0

       pixel10  ...  pixel775  pixel776  pixel777  pixel778  pixel779  \
0          0.0  ...       0.0       0.0       0.0       0.0       0.0
1          0.0  ...       0.0       0.0       0.0       0.0       0.0
2          0.0  ...       0.0       0.0       0.0       0.0       0.0
3          0.0  ...       0.0       0.0       0.0       0.0       0.0
4          0.0  ...       0.0       0.0       0.0       0.0       0.0
...        ...  ...       ...       ...       ...       ...       ...
69995      0.0  ...       0.0       0.0       0.0       0.0       0.0
69996      0.0  ...       0.0       0.0       0.0       0.0       0.0
69997      0.0  ...       0.0       0.0       0.0       0.0       0.0
69998      0.0  ...       0.0       0.0       0.0       0.0       0.0
69999      0.0  ...       0.0       0.0       0.0       0.0       0.0

       pixel780  pixel781  pixel782  pixel783  pixel784
0           0.0       0.0       0.0       0.0       0.0
1           0.0       0.0       0.0       0.0       0.0
2           0.0       0.0       0.0       0.0       0.0
3           0.0       0.0       0.0       0.0       0.0
4           0.0       0.0       0.0       0.0       0.0
...         ...       ...       ...       ...       ...
69995       0.0       0.0       0.0       0.0       0.0
69996       0.0       0.0       0.0       0.0       0.0
69997       0.0       0.0       0.0       0.0       0.0
69998       0.0       0.0       0.0       0.0       0.0
69999       0.0       0.0       0.0       0.0       0.0

[70000 rows x 784 columns]

In [5]:
X= mnist.data
y= mnist.target

In [6]:
y

0        5
1        0
2        4
3        1
4        9
        ..
69995    2
69996    3
69997    4
69998    5
69999    6
Name: class, Length: 70000, dtype: category
Categories (10, object): ['0', '1', '2', '3', ..., '6', '7', '8', '9']

In [7]:
X

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
69996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
69997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
69998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
69999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
y = y.sort_values()
X = X.reindex(y.index)

In [9]:
y

34999    0
56424    0
56419    0
16705    0
56415    0
        ..
13687    9
42651    9
58914    9
13678    9
58529    9
Name: class, Length: 70000, dtype: category
Categories (10, object): ['0', '1', '2', '3', ..., '6', '7', '8', '9']

In [10]:
X

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
34999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56424,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56419,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16705,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56415,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13687,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42651,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58914,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13678,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58529,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
X_train, X_test = X[:56000], X[56000:]
y_train, y_test = y[:56000], y[56000:]
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(56000, 784) (56000,)
(14000, 784) (14000,)

In [12]:
y_train.unique()

['0', '1', '2', '3', '4', '5', '6', '7']
Categories (10, object): ['0', '1', '2', '3', ..., '6', '7', '8', '9']

In [13]:
y_test.unique()

['7', '8', '9']
Categories (10, object): ['0', '1', '2', '3', ..., '6', '7', '8', '9']

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 42)

In [52]:
y_train.unique()

['6', '9', '1', '4', '0', '2', '8', '3', '5', '7']
Categories (10, object): ['0', '1', '2', '3', ..., '6', '7', '8', '9']

In [53]:
y_test.unique()

['6', '5', '4', '1', '3', '0', '8', '2', '9', '7']
Categories (10, object): ['0', '1', '2', '3', ..., '6', '7', '8', '9']

In [54]:
from sklearn.linear_model import SGDClassifier

y_train_0 = (y_train == '0')
y_test_0 = (y_test == '0')

print(y_train_0)

32576    False
10306    False
37102    False
57835    False
15160     True
         ...
57853    False
3896      True
68497    False
20351     True
36463    False
Name: class, Length: 56000, dtype: bool

In [55]:
print(np.unique(y_train_0))

[False  True]

In [56]:
print(len(y_train_0))

56000

In [57]:
sgd_clf = SGDClassifier(random_state = 42)
sgd_clf.fit(X_train, y_train_0)

SGDClassifier(random_state=42)

In [58]:
from sklearn.metrics import accuracy_score

In [59]:
y_train_0_pred = sgd_clf.predict(X_train)
y_test_0_pred = sgd_clf.predict(X_test)

In [60]:
train_accuracy = accuracy_score(y_train_0, y_train_0_pred)
test_accuracy = accuracy_score(y_test_0, y_test_0_pred)

In [63]:
sgd_accuracy = [train_accuracy, test_accuracy]
sgd_accuracy

[0.9832142857142857, 0.9818571428571429]

In [62]:
from sklearn.model_selection import cross_val_score
score = cross_val_score(sgd_clf, X_train, y_train_0, cv = 3, scoring = "accuracy", n_jobs = -1)

print(score)

[0.98842878 0.98805378 0.98799957]

In [67]:
import pickle
with open('sgd_acc.pkl', 'wb') as f:
    pickle.dump(sgd_accuracy, f)

In [69]:
with open('sgd_cva.pkl', 'wb') as f:
    pickle.dump(score, f)

In [76]:
sgd_m_clf = SGDClassifier(random_state = 42, n_jobs = -1)
sgd_m_clf.fit(X_train, y_train)
y_test_pred = sgd_m_clf.predict(X_test)

In [74]:
from sklearn.metrics import confusion_matrix

In [77]:
conf_matrix = confusion_matrix(y_test, y_test_pred)
print(conf_matrix)

[[1318    0    1    0    1    7   10    0   28    0]
 [   1 1370   12    4    2    4    6    3  180   10]
 [  18    8 1111   20   18    9   36    8  152    9]
 [   4    4   29 1066   11  119    3    6  130   22]
 [   4    0    1    1 1230    8   17    1   49   55]
 [  15    1    4   34   23 1065   30    3  119   16]
 [   5    1    7    0    8   23 1323    0   32    0]
 [   6    0   13    1   20    4    0 1241   68   90]
 [   9    5    7   11    7   30    3    1 1284   13]
 [   5    0    3    7   41   15    0   32  114 1155]]

In [78]:
with open('sgd_cmx.pkl.', 'wb') as f:
    pickle.dump(conf_matrix, f)